/*标签选择器*/
span {
    color: rebeccapurple;
    background-color: aquamarine;
    font-style: italic;
}

/*id选择器*/
#div2 {
    color: red;
}

/*class类选择器*/
.title {
    /*color: red;*/
    background: yellow;
}

/*
* {
    font-style: italic;
    display: none;
}
*/

/* ctrl + /  ctrl + shift + /*/