* {
	margin: 0px;
	padding: 0px;
	/*font-size:0px;*/
	/* font-family: 'Noto Sans S Chinese'; */
}
html,
body{
	width: 100%;
	height: 100%;
}

/* 第一张 */
.fir {
	width: 100%;
	/*height:100%，以最后一个不是绝对定位的元素为边界*/
	height: 100%;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/1.jpg) no-repeat 50% 50%/cover;
	position: relative;
	/*padding-top:40px;*/
	overflow: hidden;
}
.fir .fir-top {
	width: 1030px;
	height: 60px;
	position: relative;
	/* margin-top:40px;*/
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	color: #fff;
}

.fir .fir-top-left {
	height: 26px;
	width: 26px;
	position: absolute;
	left: 0px;
	top: 50%;
	transform: translateY(-50%);
	background: url(../img/fir-top-left.png) no-repeat 50% 50%/cover;
}

.fir .fir-top-center {
	position: absolute;
	/* overflow: hidden;*/
	width: 500px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-family: "Noto Serif CJK SC";
	color: #fff;
	text-align: center;
}

.fir .fir-top-center>b {
	display: block;
	font-size: 40px;
	text-align: center;
	font-weight: normal;
	margin: 0 auto;
}

.fir .fir-top-center>b>b {
	font-weight: normal;
	/*float:left;*/
	font-size: 40px;
	/*overflow: hidden;*/
}

.fir .fir-top-center>div {
	width: 350px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}

.fir .fir-top-center>div>p {
	display: inline-block;
	/*width:100px;*/
	/*float:left;*/
	margin: 0px;
	padding: 0px;
	font-size: 17px;
	height: 26px;
	color: #fff;
	opacity: 0.5;
	/*text-align-last: justify;*/
}

.fir .fir-top-right {
	height: 26px;
	position: absolute;
	right: 0px;
	top: 50%;
	transform: translateY(-50%);
	font-family: 'Noto Sans S Chinese';
	font-size: 17px;
	color: #fff;
}

.fir .fir-top+hr {
	width: 50px;
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;
	border:0px;
	border-top: 1px solid #fff;
}

.fir .fir-middle {
	width: 700px;
	text-align: center;
	font-family: "Noto Serif CJK SC";
	font-size: 50px;
	color: #fff;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

.fir .fir-middle+p {
	margin-top: 30px;
	text-align: center;
	color: #fff;
	font-size: 17px;
	opacity: 0.7;
}

.fir .fir-bottom {
	width: 40px;
	height: 40px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 40px;
	background: url(../img/下拉.png) no-repeat left top/cover;
}


/*第二张的样式*/
.se {
	width: 100%;
	height: 100%;
	/*310px*/
	color: #000;
	font-family: "Noto Sans S Chinese";
	overflow: hidden;
}

.se>div {
	width: 1000px;
	height: 500px;
	
	margin-top: 8%;
	margin-left: auto;
	margin-right: auto;
	position: relative;

}

.se-left {
	position: absolute;
	left: 0px;
	top: 10px;
	font-size: 17px;
	margin-right: 100px;
}
.se-left>hr {
	/*display: inline-block;*/
	float:left;
	margin-top:12px;
	margin-right:5px;
	background: #000;
	width: 10px;
	height: 1px;
	border: 0px;
}
.se-left>ul {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	font-size: 17px;
}
.se-left>ul>li {
	list-style: none;
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	margin-bottom: 10px;
}

.se-right {
	position: absolute;
	top: 0px;
	left: 300px;
}

.se-right-top {
	width: 500px;
	/*position:absolute:
	top:0px;*/
	font-size: 40px;
	font-family: "Noto Serif CJK SC";
}

.se-right-center {
	width: 800px;
	font-size: 17px;
	margin-top: 40px;
}

.se-right-center>div {
	display: inline-block;
	width: 365px;
	margin-right: 60px;
	font-size: 17px;
}

.se-right-bottom {
	/*display:inline-block;*/
	/*width:*/
	/*height:300px;*/
	margin-top: 40px;
	font-size: 17px;
}

.se-right-bottom>div {
	/*width:380px;*/
	height: 60px;
	font-size: 17px;
	color: #000;
	margin-bottom: 20px;
}

.se-right-bottom>div>div {
	display: inline-block;
	margin-right: 50px;
	/*margin-bottom:10px;*/
}

/* 第三张 */
.th{
	width:100%;
	height:100%;
	overflow: hidden;
	background:url(../img/th.jpg) no-repeat 50% 50%/cover;
}
.th-container{
	width:1200px;
	height:600px;
	margin-top:8%;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}
.th-left-top{
	width:170px;
	height:220px;
	/* 公版左侧栏背景：width:170px;height:220px; */
	float:left;
	position:relative;
	background-color:rgba(255,255,255,0.1);
}
.th-left-top>ul{
	list-style:none;
	/*不设置高，让内容去撑开*/
	width:120px;
	/* 公版左侧栏文字：width:120px; */
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	padding:0px;
	margin:0px;
}
.th-left-top>ul>b{
	color:#000;
	opacity: 0.5;
	float:left;
	margin-right:10px;
	margin-top:26px;
}
.th-left-top>ul>ul{
	float:left;
	margin:0px;
	padding:0px;
}
.th-left-top li{
	list-style:none;
	font-size:14px;
	color:#000;
	opacity: 0.5;
	margin-left:0px;
	margin-bottom: 10px;
	padding:0px;
}
.th-left-bottom{
	position:absolute;
	font-size:12px;
	color:#fff;
	opacity: 0.5;
	left:0px;
	bottom:0px;
}
.th-right-bottom{
	height:25px;
	width:125px;
	text-align: center;
	position: absolute;
	right:0px;
	bottom:0px;
	opacity:0.5;
}
.th-right-bottom>img{
	width:25px;
	margin-right:10px;
}

/* 第四页 */
.fo{
	width:100%;
	height:100%;
	overflow: hidden;
}
.fo-container{
	width:1050px;
	height:600px;
	/* 公版高：660px;宽：1050px */
	margin-left:auto;
	margin-right:auto;
	margin-top:8%;
}
.fo-left{
	width:250px;
	height:600px;
	float:left;
	margin-right:70px;
	background:url(../img/fo-left.jpg) no-repeat left top/cover;
}
.fo-left-top{
	width:170px;
	height:220px;
	background-color:rgba(0, 0, 0, 0.8);
	float:left;
	top:0px;
	left:0px;
	position: relative;
}
.fo-left-top>ul{
	width:110px;
	padding:0px;
	margin:0px;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
}
.fo-left-top>ul>b{
	width:10px;
	float:left;
	/* margin-top:50px; */
	color:#fff;
	margin-right:10px;
	margin-top:58px;
}
.fo-left-top>ul>ul{
	list-style: none;
	float:left;
	margin:0px;
	-webkit-padding-start: 0px;
}
.fo-left-top>ul>ul>li{
	font-size:14px;
	margin-bottom:10px;
	padding:0px;
	color:rgba(255,255,255,0.5);
}

.fo-right{
	/* 1050-250-70 */
	width:730px;
	float:left;
	/* 防止塌陷 */
	padding-top:10px;

}
.fo-right-top{
	font-size:40px;
	font-family:'Noto Serif CJK SC';
	color:#000;
}
.fo-right-middle{
	font-size:15px;
	color:#000;
	margin-top:40px;
}
.fo-right-bottom{
	width:730px;
	height:270px;
	margin-top:65px;
	background:url(../img/fo-right.jpg) no-repeat 50% 50%/cover;
}

/* 第五张 */
.fif{
	width:100%;
	height:100%;
	background:linear-gradient(to bottom,rgba(0,0,0,0.7),rgba(0,0,0,0.5)),url(../img/fif.jpg) no-repeat 50% 50%/cover;
	/* 原图是三角形逐渐收缩，设置一个从上往下的渐变 */
	position: relative;
	overflow: hidden;
}
.fif-top{
	font-size:50px;
	color:#fff;
	text-align: center;
	font-family: 'Noto Serif CJK SC';
	margin-top:100px;
}
.fif-middle{
	position:absolute;
	top:200px;
	left:50%;
	transform:translateX(-50%);
	width:50px;
	height:50px;
	/* text-align:center; */
	background:url(../img/fif-play.png) no-repeat 50% 50%/contain;
	margin-top:100px;
}
.fif-bottom{
	position:absolute;
	top:400px;
	left:50%;
	transform:translateX(-50%);
	font-size:20px;
	color:#fff;
	text-align:center;
	/* margin-top:20px; */
}

/* 第6张 */
.six{
	width:100%;
	height:100%;
	overflow: hidden;
}
.six-container{
	height:600px;
	width:1200px;
	margin-left:auto;
	margin-right:auto;
	margin-top:8%;
	position:relative;
	overflow: hidden;
}
.six-left-top{
	width:170px;
	height:220px;
	background-color:rgba(242, 242, 242, 0.8);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	/* float:left; */
	position:absolute;
	top:20px;
	left:20px;
	/* position: relative; */
}
.six-left-top>ul{
	width:100%;
	height:100%;
	list-style: none;
	position:relative;
	margin:0;
	padding:0;
}
.six-left-top>ul>ul{
	width:130px;
	padding:0px;
	margin:0px;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
}
.six-left-top>ul>ul>b{
	width:10px;
	float:left;
	color:#000;
	margin-right:15px;
	margin-top:113px;
}
.six-left-top>ul>ul>ul{
	float:left;
	list-style: none;	
	margin:0px;
	-webkit-padding-start: 0px;
}
.six-left-top>ul>ul>ul>li{
	font-size:14px;
	color:#000;
	opacity: 0.5;
	margin-bottom:10px;
	padding:0px;
}
.six-right-top{
	font-size:40px;
	font-family: 'Noto Serif CJK SC';
	position:absolute;
	left:50%;
	top:25px;
	transform: translateX(-50%);
}
.six-right-top>p{
	width:300px;
	text-align: center;
	font-size:17px;
	font-family: '';
	position:absolute;
	left:50%;
	top:60px;
	transform: translateX(-50%);
}
.six-right-middle{
	width:100%;
	height:300px;
	background:url(../img/six.jpg) no-repeat 50% 50%/cover;
	margin-top:153px;
}
.six-right-bottom{
	/*width:200px;*/
	position:absolute;
	bottom:20px;
	left:50%;
	transform: translateX(-50%);
	text-align: center;
}
.six-right-bottom>b{
	font-size:12px;
	float:left;
	line-height:30px;
	margin-left:20px;
	margin-right:20px;
}
.six-right-bottom>div{
	float: left;
	width:30px;
	height:30px;
	background:url(../img/six-bottom-left.png) no-repeat 50% 50%/cover;
}

/* 第7张 */
.seventh{
	width:100%;
	height:100%;
	background:url(../img/seventh.png) no-repeat 50% 50%/cover;
	/* position:relative; */
	overflow:hidden;
}
/* 利用一个居中盒子，省下“绝对定位” */
.seventh-container{
	width:85%;
	height:600px;
	/* position: absolute; */
	margin-left:auto;
	margin-right:auto;
	margin-top:8%;
	position: relative;
}

.seventh-left-top{
	width:170px;
	height:220px;
	float:left;
	background-color:#fff;
	position:relative;
}
.seventh-left-top>div{
	width:130px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.seventh-left-top>div>b{
	float:left;
	width:10px;
	margin-right:10px;
	margin-top:112px;
}
.seventh-left-top>div>ul{
	float:left;
	/* width:130px; */
	list-style:none;
	margin:0px;
	padding:0px;
}
.seventh-left-top>div>ul>li{
	font-size:14px;
	color:#000;
	opacity:0.5;
	margin-bottom:10px;
}
.seventh-center{
	width:30px;
	height:30px;
	background:url(../img/seventh-location.png) no-repeat 50% 50%/contain;
	position:absolute;
	left:42%;
	top:48%;
	transform: translate(-50%,-50%);
}
.seventh-right-bottom{
	width:250px;
	/* 95 */
	height:350px;
	/* background-color:#fff;
	opacity:0.8; */
	background-color:rgba(73, 73, 73,0.5);
	position: absolute;
	right:0px;
	bottom:0px
}
.seventh-right-bottom-container{
	width:200px;
	height:300px;
	margin-top:25px;
	margin-left:auto;
	margin-right:auto;
}
.seventh-right-bottom-container>div{
	font-size:17px;
	color:#fff;
	text-align:center;
	font-family: 'Noto Serif CJK SC';
	/* color:#fff; */
}
.seventh-right-bottom-container>p{
	font-size:8px;
	color:rgba(255,255,255,0.5);
	margin-top:15px;
}
.seventh-right-bottom-container>p>b{
	font-size:8px;
	color:#fff;
	margin-top:15px;
}

/* 第8张 */
.eighth{
	width:100%;
	height:100%;
	/* 330 */
	overflow: hidden;
	background-color:rgb(242, 242, 242);
	position:relative;
}
.eighth-container{
	width:95%;
	height:500px;
	/* 250 */
	margin-left:auto;
	margin-right:auto;
	margin-top:8%;
	position:relative;
}
.eighth-left{
	width:45%;
	height:450px;
	padding-top:40px;
	padding-right:40px;
	border-right:1px solid #ddd;
	float:left;
}
.eighth-left-pic{
	float:right;
	width:100%;
	width:100px;
	height:100px;
	background:url(../img/eighth-pic.png) no-repeat 50% 50%/cover;
	margin-bottom:20px;
}
.eighth-left-word{
	float:right;
	width:100%;
	text-align:right;
	font-size:10px;
	margin-bottom:20px;
}
.eighth-left-icons{
	width:100%;
	float:right;
}
.eighth-left-icons>ul{
	padding:0px;
	margin:0px;
	list-style:none;
	float:right;
	margin-bottom:50px;
}
.eighth-left-icons>ul>li{
	width:20px;
	height:20px;
	padding:0px;
	margin-left:0px;
	margin-right:15px;
	/* 不能在li中的style内写上简写？ */
	/* background:url(../img/facebook.png) no-repeat 50% 50%/cover; */
	float:left;
}
.eighth-left-footer{
	float:right;
	text-align:right;
	font-size:10px;
	color:#ddd;
	margin-top:30px;
	
}
.eighth-right{
	width:40%;
	height:450px;

	padding-top:40px;
	padding-left:40px;
	float:left;
}
.eighth-right-title{
	font-size:40px;
	font-family: 'Noto Serif CJK SC';
	margin-bottom:10px;
}
.eighth-right-word{
	font-size:10px;
	margin-bottom:20px;
}
.eighth-right-inputbox{
	/* 这里需要填表单 */
	width:90%;
	height:40px;
	background-color:#fff;
	margin-bottom:20px;
	text-indent: 1em;
	border:0px;
}
.eighth-right-btn{
	width:200px;
	height:40px;
	text-align:center;
	line-height:40px;
	background-color:rgb(0, 0, 0);
	color:#fff;	
	border:0px;
}
.eighth-footer{
	width:100%;
	position:absolute;
	bottom:20px;
	text-align:center;
}
.eighth-footer>hr{
	float:left;
	margin-left:20px;
	width:40%;
	border:0px;
	border-top:1px solid #ddd;
	margin-top:20px;
}
.eighth-footer>img{
	height:40px;
}



