.container {
  width: 500px;
  height: 300px;
  position: relative;
  overflow: hidden;
  margin: 100px auto;
}
.container .items {
  width: 500px;
  height: 300px;
  position: absolute;
  left: 0px;
  background: url('../img/1.jpg') no-repeat 50% 50% / cover;
  transition: left 1s linear;
}
.container .items:nth-of-type(2) {
  background: url('../img/2.jpg') no-repeat 50% 50% / cover;
  left: 500px;
}
.container .items:nth-of-type(3) {
  background: url('../img/3.jpg') no-repeat 50% 50% / cover;
  left: 1000px;
}
.container .items:nth-of-type(4) {
  background: url('../img/4.jpg') no-repeat 50% 50% / cover;
  left: 1500px;
}
.container .left {
  width: 50px;
  height: 50px;
  font-size: 15px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.container .right {
  width: 50px;
  height: 50px;
  font-size: 15px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}
.container .nav {
  height: 15px;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
}
.container .nav .items1 {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  margin-right: 15px;
}
