body {
	margin: 0;
	font-family: "微软雅黑";
}

ul,
ol,
li,
p,
dl,
dt,dd {
	margin: 0;
	padding: 0;
	list-style: none;
}
img {
	max-width: 100%;
	vertical-align: middle;
}

header {
	background: #2C0903;
	position: relative;
}

header .top {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

header .left {
	float: left;
}

header .right {
	float: right;
}

header ul li {
	float: left;
	/*line-height: 40px;*/
}

header ul li a {
	color: white;
	text-decoration: none;
	margin-right: 20px;
	line-height: 40px;
    display: block;
}

header ul li:last-of-type a {
	margin-right: 0px;
}

header ul.left li:first-of-type a {
	width: 62px;
	height: 40px;
	display: block;
	text-indent: -999em;
	background: url(img/icon-sprite.png) no-repeat;
	background-position: -18px -75px;
}

header ul.left li:first-of-type a:hover {
	background-position: -18px -119px;
}

header ul li:nth-of-type(2)>a:after,
header ul.left li:nth-of-type(5)>a:after {
	content: '';
	width: 14px;
	height: 7px;
	display: inline-block;
	background: url(img/icon-sprite.png) no-repeat;
	background-position: -147px -132px;
	margin-left: 5px;
}


/**/

header ul li .subnav {
	position: absolute;
	top: 40px;
	left: 0;
	background: rgba(21, 26, 35, .95);
	width: 100%;
	height: ;
	text-align: center;
	padding: 30px 0;
	border: 1px solid red;
	box-sizing: border-box;
	opacity: 0;
	visibility: hidden;
	transition: opacity .8s;
	z-index: 9;
}

header ul li .subnav a {
	width: 180px;
	height: 180px;
	display: inline-block;
	background-image: url(img/card-hearthstone-CN-538b49564ab2122a.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	top: -30px;
	opacity: 0;
	visibility: hidden;
	transition-property: opacity, top;
	transition-duration: .3s;
	box-shadow: 0 0 1px 0 rgba(255,255,255,.5);
}

header ul li .subnav a:hover {
	box-shadow: 0 0 1px 0 rgba(255,255,255,1);
	filter: brightness(120%) blur(10px);
}

header ul li .subnav a:nth-of-type(2) {
	background-image: url(img/card-overwatch-CN-85c98611cefd3018.jpg);
	transition-delay: 50ms;
}

header ul li .subnav a:nth-of-type(3) {
	background-image: url(img/card-world-of-warcraft-CN-c4bebe45e5af0993.jpg);
	transition-delay: 100ms;
}

header ul li .subnav a:nth-of-type(4) {
	background-image: url(img/card-world-of-warcraft-CN-c4bebe45e5af0993.jpg);
	transition-delay: 150ms;
}

header ul li .subnav a:nth-of-type(5) {
	background-image: url(img/card-world-of-warcraft-CN-c4bebe45e5af0993.jpg);
	transition-delay: 200ms;
}

header ul li .subnav a:nth-of-type(6) {
	background-image: url(img/card-world-of-warcraft-CN-c4bebe45e5af0993.jpg);
	transition-delay: 250ms;
}


/**/

header ul li:hover>a:after,
header ul li:hover>a:after {
	background-position: -147px -145px;
}
header ul li:hover a {
	z-index: 9;
	position: relative;
}
header ul li:hover+.shade {
	opacity: 1;
	z-index: 0;
}
header ul li:hover .subnav {
	opacity: 1;
	visibility: visible;
}

header ul li:hover .subnav a {
	top: 10px;
	opacity: 1;
	visibility: visible;
}


header ul .shade {
	width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
}


/**/
.boxbg {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -9;
	background: url(img/bg.jpg);
	background-position: center;
	background-size: cover;
	width: 100%;
}
.wrapbg {
	width: 1920px;
	height: 100vh;
	background: url(img/home_bg.jpg) no-repeat;
	background-size: cover;
	background-position: top center;
	margin: 0 auto;
}

/**/
.fl {
	float: left;
}
.fr {
	float: right;
}
section.logo {
	width: 1024px;
	margin: 0 auto;
	overflow: hidden;
	padding: 26px 0;
}
section.logo .logoarea a {
	display: block;
	width: 350px;
	height: 184px;
	background: url(img/home-v2016.png) no-repeat;
	text-indent: -9999em;
}
section.logo form {
	margin-top: 130px;
	position: relative;
}
section.logo form input:first-of-type {
	color: #8bb6ad;
	border: 1px solid #8bb6ad;
	background: rgba(58,58,58,.3);
	outline: none;
	padding: 10px 35px 10px 15px;
	width: 200px;
}
section.logo form input:last-of-type {
	background: url(img/search01.png) no-repeat;
	width: 25px;
	height: 25px;
	outline: none;
	border: none;
	position: absolute;
	right: 5px;
	top: 10px;
}

/**/
.navWrap {
	width: 1024px;
	margin: 0 auto;
	height: 52px;
	/*overflow: hidden;*/
	background: url(img/nav_bg-1.jpg) no-repeat;
	/*padding: 0 58px;*/
	position: sticky;
    top: 0;
    z-index: 999;
}
.navWrap li {
	width: 114px;
	height: 52px;
	display: block;
	float: left;
	position: relative;
}
.navWrap li>a {
	width: 114px;
	height: 52px;
	display: block;
	float: left;
	background: rgba(0,0,0,.3);
	background: url(img/nav_bg-1.jpg) no-repeat;
	text-indent: -99em;
}
.navWrap li:nth-of-type(1){
	margin-left: 58px;
}
.navWrap li:nth-of-type(1)>a {
	background-position: -58px 0px;
	
}
.navWrap li:nth-of-type(2)>a {
	background-position: -172px 0px;
}
.navWrap li:nth-of-type(3)>a {
	background-position: -286px 0px;
}
.navWrap li:nth-of-type(4)>a {
	background-position: -400px 0px;
}
.navWrap li:nth-of-type(5)>a {
	background-position: -514px 0px;
}
.navWrap li:nth-of-type(6)>a {
	background-position: -628px 0px;
}
.navWrap li:nth-of-type(7)>a {
	background-position: -742px 0px;
}
.navWrap li:nth-of-type(8)>a {
	background-position: -856px 0px;
}
.navWrap li:hover>a {
	background-position-y: -104px;
}

.navWrap:before {
	content: '';
	width: 96px;
	height: 74px;
	background: url(img/nav-sprite-l.png) no-repeat;
	position: absolute;
	top: -18px;
	left: -42px;
}
.navWrap:after {
	content: '';
	width: 95px;
	height: 69px;
	background: url(img/nav-sprite-r.png) no-repeat;
	position: absolute;
	top: -18px;
	right: -33px;
}


.navWrap li:hover .navsub {
	display: block;
}
/***/
.navWrap .navsub {
	position: absolute;
	top: 47px;
	left: 0px;
	width: 114px;
	/*text-align: center;*/
	background: rgba(77,9,8,.95);
	display: none;
	z-index: 999;
}
.navWrap .navsub a {
	display: block;
	text-decoration: none;
	color: rgb(205, 153, 142);
	line-height: 36px;
	font-size: 14px;
	padding-left: 20px;
}
.navWrap .navsub a:hover {
	color: white;
	background: #81120c;
}

/**/
section.main {
	width: 1024px;
	margin: 0 auto;
	/*overflow: hidden;*/
	position: relative;
}
section.main:after {
	content: '';
	display: block;
	clear: both;
}
section.main .left {
	background: url(img/homeconmain-bg.png) repeat-y;
	width: 703px;
	position: relative;
	z-index: 8;
}
section.main .right {
	width: 321px;
}

section.main .left .banner {
	width: 640px;
	margin: 20px auto;
	border: 1px solid #b7894c;
	padding: 1px;
	position: relative;
}

section.main .left .banner img {
	vertical-align: middle;
}
section.main .left .banner .txt {
	overflow: hidden;
	line-height: 42px;
	background: rgba(0,0,0,.5);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	
	box-sizing: border-box;
	padding: 1px;
    background-clip: padding-box;
    border: 1px solid #ff000000;
    
	border-top: 1px solid #b7894c;
	
}
section.main .left .banner .txt p {
	color: white;
	font-weight: bold;
	font-size: 18px;
	margin-left: 10px;
}
section.main .left .banner .txt img {
	width: 64px;
	margin: 5px 10px;
	border: 1px solid orange;
}

/**/
section.main ul.videoEye {
	width: 660px;
	margin: 0 auto;
	overflow: hidden;
	background: url(img/news-eyes-bg.jpg) no-repeat;
	padding-bottom: 6px;
    background-position: bottom center;
}
section.main ul.videoEye li:nth-of-type(odd) {
	float: left;
	margin-left: 15px;
}
section.main ul.videoEye li:nth-of-type(even) {
	float: right;
	margin-right: 15px;
}
section.main ul.videoEye li {
	width: 280px;
	padding: 15px 15px 10px 15px;
	background: url(img/news-eyes-module.png) no-repeat;
	text-align: center;
}
section.main ul.videoEye li img:hover {
	outline: 2px solid green;
}
section.main ul.videoEye li p {
	line-height: 40px;
}

/**/
.homeNews>a:first-of-type .homeNewsWrap {
	padding-top: 40px;
}
.homeNews>a {
	text-decoration: none;
}
.homeNewsWrap {
	overflow: hidden;
	width: 630px;
	margin: 0 auto;
	padding: 20px 0;
	border-top: 1px solid #efdba8;
	border-bottom: 1px solid #dbc497;
}
.homeNewsWrap:hover {
	background: url(img/homenewsbg.png) repeat-y;
	background-size: 100% auto;
}
.homeNewsWrap dt img {
	width: 200px;
	height: 100px;
	border: 1px solid #b7894c;
	padding: 1px;
}
.homeNewsWrap dt img:hover {
	border: 1px solid green;
}
.homeNewsWrap dd {
	width: 400px;
	margin-left: 26px;
}
.homeNewsWrap dd h3	{
	color: #150603;
	font-size: 16px;
	margin: 0 0 10px 0;
	
}
.homeNewsWrap dd p {
	color: #695745;
	line-height: 19px;
	height: 38px;
	overflow: hidden;
	letter-spacing:1px;
	font-size: 14px;
	margin-bottom: 10px;
}
.homeNewsWrap dd span {
	font-size: 14px;
	margin-top: 10px;
}
.homeNewsWrap dd span i:before {
	content: '';
	width: 18px;
	height: 19px;
	background: url(img/icon.png) no-repeat;
	display: inline-block;
	background-position: -80px -112px;
	position: relative;
	top: 4px;
}
.homeNewsWrap dd span i {
	color: rgb(210, 83, 0);
	font-style: normal;
}
.homeNewsWrap dd span time {
	font-size: 12px;
	margin-left: 30px;
	color: #666;
}
.homeNewsWrap dd span i:hover:before {
	background-position: -80px -129px;
}


.newsMore {
	text-align: center;
	text-decoration: none;
	background: rgb(211, 183, 139);
	color: rgb(91, 75, 56);
	border: 1px solid rgb(241, 219, 184);
	padding: 10px 0;
}
.newsMore:hover {
	background: rgb(195, 164, 115);;
}
.newsMore:after {
	content: '';
	width: 20px;
	height: 9px;
	background: url(img/more-icon.png) no-repeat;
	display: inline-block;
	background-position: right center;
}
.homeConMain-bot {
	width: 703px;
	height: 34px;
	background: url(img/homeconmain-bg-bot.png) no-repeat;
	background-position: bottom center;
	position: relative;
	top: 10px;
}



/**/

section.main .right {
	width: 340px;
	background: url(img/homeconbar-bg.png) repeat-y;
	background-position: right;
	position: absolute;
	top: 0;
	right: 0;
	/*z-index: -1;*/
}
section.main .right .homeConBar {
	/*margin: 0 20px;*/
}

.features {
	background: url(img/home-bg-cr.jpg) no-repeat;
	min-height: 590px;
	text-align: center;
}
.features ul {
	width: 240px;
	margin: 0 auto;
	overflow: hidden;
}
.features ul li a {
	width: 80px;
	height: 90px;
	display: block;
	background: url(img/device-icon.png) no-repeat;
}
.features ul li {
	/*display: inline-block;*/
	float: left;
	margin-top: 45px ;
}
.features ul li:first-of-type a {
	background-position: 0px -180px ;
}
.features ul li:nth-of-type(2) a {
	background-position: -80px 0px ;
}
.features ul li:nth-of-type(3) a {
	background-position: -160px 0px ;
}
.features ul li:hover a {
	background-position-y: -89px;
}

.features .downloadicon {
	padding-top: 20px;
}
.features .downloadicon a {
	background: url(img/download-btn2.png) no-repeat;
	background-position: -37px bottom;
	width: 220px;
	height: 61px;
	display: inline-block;
}

/***/

.module_media {
	width: 305px;
    /*height: 500px;*/
    background: url(img/moudel-top-bg.jpg) no-repeat;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 30px;
}

.module_media h3.iconCommon:before {
	content: '';
	width: 30px;
	height: 30px;
	display: inline-block;
	background: url(img/icon.png) no-repeat;
	vertical-align: middle;
	margin-right:5px ;
}
.module_media h3.iconZh:before {
	background-position: -87px -4px;
}
.module_media h3 {
	margin: 0;
	font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    height: 30px;
    color: #03345f;
    margin-bottom: 10px;
}

.module_media .esport {
	position: relative;
	text-align: center;
}
.module_media .esport a {
	position: relative;
	display: inline-block;
	width: 244px;
	text-decoration: none;
	color: #251c0f;
}
.module_media .esport a img {
	transition: all .3s;
}
.module_media .esport a:hover img:last-of-type {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	
}
.module_media .esport a:hover img:first-of-type {
	filter: brightness(70%);
	-webkit-filter: brightness(70%);
	
}
.module_media .esport a img:nth-of-type(2) {
	position: absolute;
	top: 0;
	left: 0;
}
.module_media .esport a h5 {
	margin: 0;
	line-height: 30px;
}
.module_media .esport .prev,
.module_media .esport .next {
	width: 7px;
	height: 14px;
	background: url(img/esport-icon.gif) no-repeat;
	display: inline-block;
	position: absolute;
	top: 62px;
	margin-top: -7px;
}
.module_media .esport .prev {
	left: 15px;
}
.module_media .esport .prev:hover {
	background-position-x: -16px;
}
.module_media .esport .next {
	right: 15px;
	background-position: -8px 0;
}
.module_media .esport .next:hover {
	background-position-x: -24px;
}
.module_media.live .esport a:hover img {
	transform: scale(1);
	-webkit-transform: scale(1);
	filter: brightness(100%);
	-webkit-filter: brightness(100%);
}

.module_media .bot {
	width: 265px;
	padding: 10px 20px;
	
}
.module_media h3.iconMt:before {
	background-position: -46px -74px;
}
.module_media.recommend .bot>a {
	display: block;
	text-decoration: none;
	color: #5b4b38;
	font-size: 12px;
	line-height: 36px;
	border-bottom: 1px solid #e8d6a8;
}
.module_media.recommend .bot>a:before {
	content: '';
	width: 10px;
	height: 7px;
	background: url(img/icon.png) no-repeat;
	display: inline-block;
	background-position: -135px -143px;
}
.module_media .bot .more {
	text-align: right;
}
.module_media .bot .more a {
	
	width: 33px;
	height: 30px;
	display: inline-block;
	background: url(img/icon-more.png) no-repeat;
	background-position: bottom;
}


/**/

.module_normal {
	/*width: 235px;
	padding: 15px;
	
	margin: 0 auto;
	background: #d1b181;
	border: 1px solid #efd4ad;
	border-radius: 3px;*/
}
.module_normal li{
	position: relative;
	width: 235px;
	padding: 15px;
	
	margin: 10px auto;
	background: #d1b181;
	border: 1px solid #efd4ad;
	border-radius: 3px;
}
.module_normal li h4 {
	margin: 0;
	color: #251c0f;
}
.module_normal li:after {
	content: '';
	width: 100px;
	height: 66px;
	background: url(img/commnity-icon.png) no-repeat;
	display: block;
	background-position-x: right;
	
	position: absolute;
	top: -10px;
	right: 0px;
}
.module_normal li.guide:after {
	background-position-y:-279px;
	transition: all 1s;
}
.module_normal li.guide:hover:after {
	background-position-y:-379px;
}

.module_normal li.tmall:after {
	background-position-y:-775px;
}
