* {
  margin: 0px;
  padding: 0px;
  font-family: '苹方 中等';
}
.fir {
  width: 100%;
  height: 600px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url('../img/fir.jpg') 50% 50% / cover;
  position: relative;
}
.fir .title {
  font-family: '苹方 中等';
  font-size: 55px;
  color: #fff;
  text-align: center;
  line-height: 1.7em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fir .title b {
  font-family: '苹方 粗体';
  font-size: 72px;
}
.second {
  width: 100%;
  height: 650px;
  padding-top: 50px;
  box-sizing: border-box;
  position: relative;
}
.second .se-top {
  width: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.second .se-top .items {
  display: inline-block;
  padding: 10px;
  font-size: 17px;
  text-align: center;
  color: #3f4246;
}
.second .se-top .items:nth-of-type(1) {
  color: #119de5;
  border-bottom: 5px solid #119de5;
}
.second .se-top .items:nth-of-type(2) {
  margin-left: 20px;
  margin-right: 20px;
}
.second .se-middle {
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
  left: -100px;
}
.second .se-middle .se-middle-left {
  height: 300px;
  display: inline-block;
}
.second .se-middle .se-middle-left .items {
  width: 225px;
  height: 300px;
  margin-right: 7px;
  float: left;
}
.second .se-middle .se-middle-left .items:nth-of-type(1) {
  background: url('../img/se-2.jpg') 50% 50% / cover;
}
.second .se-middle .se-middle-left .items:nth-of-type(2) {
  background: url('../img/se-1.jpg') 50% 50% / cover;
}
.second .se-middle .se-middle-left .items:nth-of-type(3) {
  width: 450px;
  background: url('../img/se-3.jpg') 50% 50% / cover;
  margin-right: 0px;
}
.second .se-middle .se-middle-right {
  height: 300px;
  display: inline-block;
  position: relative;
  font-family: '苹方 中等';
  margin-left: 100px;
}
.second .se-middle .se-middle-right .container {
  width: 300px;
  color: #9b9fa3;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.second .se-middle .se-middle-right .container .title {
  font-family: '苹方 粗体';
  font-size: 30px;
  color: #3f4246;
  margin-bottom: 10px;
}
.second .se-middle .se-middle-right .container .text {
  font-size: 13px;
  margin-bottom: 10px;
}
.second .se-middle .se-middle-right .container .footer {
  font-size: 13px;
}
.third {
  width: 100%;
  height: 550px;
  background-color: #fff;
  position: relative;
}
.third .left {
  position: absolute;
  top: 40%;
  left: 20%;
  transform: translateY(-50%);
}
.third .left .title {
  font-family: '苹方 粗体';
  font-size: 25px;
  color: #3f4246;
  margin-bottom: 10px;
}
.third .left .text {
  font-family: '苹方 中等';
  font-size: 13px;
  color: #9b9fa3;
}
.third .right {
  height: 100%;
  width: 45%;
  float: right;
  position: relative;
  background-color: #f3f3f3;
}
.third .right .pic {
  width: 90%;
  height: 500px;
  background: url('../img/third.png') 50% 50% / cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fourth {
  width: 100%;
  height: 500px;
  background: linear-gradient(to bottom, rgba(21, 111, 156, 0.5), rgba(21, 111, 156, 0.767)), url('../img/fourth.jpg') no-repeat 50% 40% / cover;
  position: relative;
  overflow: hidden;
}
.fourth .container {
  width: 70%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fourth .container .items {
  text-align: center;
  display: inline-block;
}
.fourth .container .items .title {
  font-family: '苹方 粗体';
  font-size: 65px;
  color: #fff;
  font-weight: bold;
}
.fourth .container .items .text {
  font-family: '苹方 中等';
  font-size: 15px;
  color: #fff;
}
.fourth .container .items:nth-of-type(1) {
  float: left;
}
.fourth .container .items:nth-of-type(3) {
  float: right;
}
.fifth {
  width: 100%;
  height: 1650px;
}
.fifth .container {
  width: 55%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  box-sizing: border-box;
  padding: 50px;
  position: relative;
}
.fifth .container .title {
  font-family: '苹方 粗体';
  font-size: 25px;
  color: #3f4246;
  margin-bottom: 10px;
}
.fifth .container .text {
  font-family: '苹方 中等';
  font-size: 15px;
  color: #9b9fa3;
  margin-bottom: 30px;
}
.fifth .container .items {
  width: 350px;
  text-align: left;
  position: absolute;
}
.fifth .container .items hr {
  width: 99%;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
  border-bottom: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
}
.fifth .container .items .title {
  font-family: '苹方 粗体';
  font-size: 15px;
  color: #3f4246;
}
.fifth .container .items .text {
  font-family: '苹方 中等';
  font-size: 12px;
  color: #9b9fa3;
}
.fifth .container .items .text b {
  font-family: '苹方 粗体';
  font-weight: normal;
  color: #3f4246;
  font-size: 15px;
}
.fifth .container .items:nth-of-type(odd) {
  /* float:left; */
  left: 0px;
}
.fifth .container .items:nth-of-type(even) {
  right: 0px;
}
.fifth .container .items:nth-of-type(5) {
  top: 930px;
}
.fifth .container .items:nth-of-type(6) {
  top: 930px;
}
.fifth .container .items:nth-of-type(7) {
  left: 485px;
  top: 1350px;
}
.fifth .container .items .pic1 {
  width: 350px;
  height: 450px;
  background: url('../img/fif-item1.png') no-repeat 50% 50% / cover;
  margin-top: 20px;
  margin-bottom: 60px;
}
.fifth .container .items .pic2 {
  width: 350px;
  height: 450px;
  background: url('../img/fif-item2.png') no-repeat 50% 50% / cover;
  margin-bottom: 20px;
}
.fifth .container .items .pic3 {
  width: 350px;
  height: 450px;
  background: url('../img/fif-item3.png') no-repeat 50% 50% / cover;
  margin-bottom: 20px;
}
.fifth .container .items .pic4 {
  width: 350px;
  height: 150px;
  background: url('../img/fif-item4.png') no-repeat 50% 50% / cover;
  margin-bottom: 20px;
}
.fifth .container .items .pic5 {
  width: 150px;
  height: 150px;
  background: url('../img/fif-item5.png') no-repeat 50% 50% / cover;
  margin-bottom: 20px;
}
.sixth {
  width: 100%;
  height: 600px;
  position: relative;
}
.sixth .left {
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translateX(-50%);
  text-align: center;
}
.sixth .left .title {
  font-family: '苹方 粗体';
  font-size: 25px;
  color: #3f4246;
  margin-bottom: 10px;
}
.sixth .left .text {
  font-family: '苹方 中等';
  font-size: 15px;
  color: #9b9fa3;
  margin-bottom: 30px;
}
.sixth .pic {
  width: 700px;
  height: 350px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  background: url('../img/sixth.png') no-repeat 50% 0% / cover;
}
.seventh {
  width: 100%;
  height: 550px;
  position: relative;
}
.seventh .left {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  background: url('../img/se.png') no-repeat 50% 50% / contain;
}
.seventh .right {
  width: 480px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
}
.seventh .right .title {
  font-family: '苹方 粗体';
  font-size: 20px;
  color: #3f4246;
  margin-bottom: 20px;
}
.seventh .right .items {
  display: inline-block;
  width: 200px;
  margin-right: 40px;
}
.seventh .right .items .text {
  font-family: '苹方 中等';
  font-size: 13px;
  color: #9b9fa3;
  margin-bottom: 20px;
}
.seventh .right .items .pic1 {
  width: 100px;
  height: 100px;
  background: url('../img/se-1.png') no-repeat 50% 50% / cover;
}
.seventh .right .items:nth-of-type(3) {
  margin-right: 0px;
}
.seventh .right .items:nth-of-type(3) .pic2 {
  width: 100px;
  height: 100px;
  background: url('../img/se-2.png') no-repeat 50% 50% / cover;
}
.eighth {
  width: 100%;
  height: 300px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('../img/eighth.png') no-repeat 50% 50% / cover;
  position: relative;
}
.eighth .left {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
}
.eighth .left .title {
  font-family: '苹方 粗体';
  font-size: 25px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 15px;
}
.eighth .left .text {
  font-family: '苹方 中等';
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}
.nineth {
  width: 100%;
  height: 550px;
  background-color: #22282d;
  position: relative;
  text-align: center;
}
.nineth .top {
  width: 400px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.nineth .top .title {
  font-family: '苹方 粗体';
  font-size: 25px;
  color: #fff;
  margin-bottom: 20px;
}
.nineth .top .items {
  display: inline-block;
  width: 75px;
  height: 75px;
  background: url('../img/ni-top-1.png') no-repeat 50% 50% / contain;
  margin-right: 40px;
}
.nineth .top .items:nth-of-type(3) {
  background: url('../img/ni-top-2.png') no-repeat 50% 50% / contain;
}
.nineth .top .items:nth-of-type(4) {
  background: url('../img/ni-top-3.png') no-repeat 50% 50% / contain;
  margin-right: 0;
}
.nineth .bottom {
  width: 650px;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translateX(-50%);
}
.nineth .bottom .title {
  font-family: '苹方 粗体';
  font-size: 25px;
  color: #fff;
  margin-bottom: 20px;
}
.nineth .bottom .items {
  display: inline-block;
  width: 75px;
  height: 75px;
  background: url('../img/ni-bottom-1.png') no-repeat 50% 50% / contain;
  margin-right: 60px;
  margin-bottom: 10px;
}
.nineth .bottom .items:nth-of-type(3) {
  background: url('../img/ni-bottom-2.png') no-repeat 50% 50% / contain;
}
.nineth .bottom .items:nth-of-type(4) {
  background: url('../img/ni-bottom-3.png') no-repeat 50% 50% / contain;
}
.nineth .bottom .items:nth-of-type(5) {
  background: url('../img/ni-bottom-4.png') no-repeat 50% 50% / contain;
}
.nineth .bottom .items:nth-of-type(6) {
  background: url('../img/ni-bottom-5.png') no-repeat 50% 50% / contain;
  margin-right: 0px;
}
.nineth .bottom .items:nth-of-type(7) {
  background: url('../img/ni-bottom-6.png') no-repeat 50% 50% / contain;
}
.nineth .bottom .items:nth-of-type(8) {
  background: url('../img/ni-bottom-7.png') no-repeat 50% 50% / contain;
}
.nineth .bottom .items:nth-of-type(9) {
  background: url('../img/ni-bottom-8.png') no-repeat 50% 50% / contain;
}
.nineth .bottom .items:nth-of-type(10) {
  background: url('../img/ni-bottom-9.png') no-repeat 50% 50% / contain;
}
.nineth .bottom .items:nth-of-type(11) {
  background: url('../img/ni-bottom-10.png') no-repeat 50% 50% / contain;
  margin-right: 0;
}
