html,
body {
  height: 100%;
  overflow: auto;
  margin: 0;
}
.panel-footer span {
  margin-left: 10px;
  margin-right: 10px;
}
.list-group-item h5 {
  display: inline-block;
  width: 55%;
  overflow: hidden;
  word-wrap: break-word;
}
.list-group-item .finish {
  font-weight: normal;
  color: #ccc;
  text-decoration: line-through;
}
.list-group-item .unfinish {
  font-weight: normal;
}
