ul, ol, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

header {
	background: url(img/banner.jpg) no-repeat;
	background-size: cover;
	padding-top: 15px;
}

nav.top {
	/*选中class为top的nav元素*/
	/*nav .top  选中nav元素后代里面的class为top的元素*/
	background: rgba(0, 0, 0, 0.41);
	width: 1140px;
	margin: 0 auto;
	overflow: hidden;
	/*height: 54px;*/
}
/*nav .top*/
nav.top ul {
	/*float: left;*/
}
nav.top form {
	/*float: right;*/
	line-height: 54px;
}

nav.top ul li {
	float: left;
	line-height: 54px;/*行高*/
	color: white;
	padding-top: 4px;
}

nav.top ul li a {
	margin: 0 15px;
	color: white;
	text-decoration: none; /*文本装饰线*/
	transition: all .3s;
}

nav.top ul li:after {
	/*li:after 伪元素选择器*/
	content: '/';
}

nav.top ul li:last-of-type:after {
	/*li:last-of-type 过滤选择器 */
	content: '';
}

nav.top ul li:first-of-type a {
	color: yellow;
	border-top: 4px solid yellow;
}
nav.top ul li a:hover {
	color: yellow;
	border-top: 4px solid yellow;
}

/*nav.top form*/
nav.top form {
	position: relative;
}

nav.top form input {
	background: transparent;
	border: 1px solid white;
	outline: none;
	color: white;
	padding: 5px 10px ;
	/*background: url(img/search.png) no-repeat right center;*/
	margin-right: 20px;
}
nav.top form input[type=submit] {
	background: url(img/search.png) no-repeat;
	padding: 0;
	width: 22px;
	height: 22px;
	border: none;
	background-position: center;
	margin-right: 0;
	position: absolute;
	right: 25px;
	top: 16px;
	cursor: pointer;
}
/*nav.top form:after {
	content: '';
	background: url(img/search.png) no-repeat;
	padding: 0;
	width: 22px;
	height: 22px;
	display: inline-block;
	background-position: center;
	position: absolute;
	right: 25px;
	top: 16px;
}*/


/* */

@font-face {
	font-family: xxx;
	src: url(img/xjlFont.fon);
}

header .center {
	text-align: center;
	margin: 200px 0 0 0;
}
header .center h1 {
	font-family: 'xxx',"微软雅黑";
	font-size: 72px;
	color: white;
	border-top: 5px solid white;
	border-bottom: 5px solid white;
	display: inline;
}


/*cardbox*/

header .cardbox {
	overflow: hidden;
	width: 1140px;
	margin: 0 auto;
	position: relative;
	top: 150px;
}

header .cardbox .card {
	width: 205px;
	color: white;
	text-align: center;
	background: #16A667;
	padding: 25px;
	float: left;
	margin: 0 15px;
}
header .cardbox .card img {
	border: 8px solid white;
	border-radius: 50%;
	padding: 20px;
	width: 100px;
	transition: all .3s;
}

header .cardbox .card img:hover {
	transform: rotateY(360deg);
}
header .cardbox .card p {
	line-height: 24px;
	font-size: 14px;
	margin: 0;
}


/**/
section.about {
	background: #eee;
	overflow: hidden;
	padding-top: 200px;
	padding-bottom: 30px;
}
.wrap {
	width: 1140px;
	margin: 0 auto;
	/*background: red;*/
}
.fl {
	float: left;
}
.fr {
	float: right;
}
img {
	max-width: 100%;
}
section h3.title {
	font-size: 36px;
	margin-top: 0;
}
section.about .fl {
	width: 400px;
}
section.about .fr {
	width: 700px;
	line-height: 24px;
	color: #666666;
}


section.services {
	background: #37353b;
}



section.works {
	background: #eee;
	overflow: hidden;
}
section.works .card {
	position: relative;
	width: 285px;
	height: 245px;
	float: left;
}
section.works .card img:first-of-type {
	width: 285px;
	height: 245px;
}
section.works .card .textbox {
	transform: scale(0);
	transition: all .5s;
	position: absolute;
	top: 0;
	left: 0;
	/*width: 100%;*/
	padding: 90px 110px;
	background: rgba(15, 16, 15, 0.16);
	width: 65px;
	height: 65px;
	/*display: block;
	vertical-align: middle;*/
}
section.works .card:hover .textbox {
	transform: scale(1);
	box-shadow: 0 0 10px 0 white;
}
