#header {
  color: black;
}
#header .navigation {
  font-size: 12px;
}
#header .logo {
  width: 300px;
}
.clearfix {
  display: block;
  zoom: 1;
}
.clearfix:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.card.active .chart .bar1::before {
  transform: translateZ(150px);
}
.card.active .chart .bar1::after {
  height: 150px;
}
.color {
  background: #ffffff;
}
